<div class="product-container">
  <figure>
    <img [src]="product().images[0]" alt="image">
    <div class="buttons-container">
      <button
      type="button"
      class="add-to-favorite-button"
      (click)="toggleFavorite()"
      ><i
      [class.ri-star-fill]="isFavorite()"
      [class.ri-star-line]="!isFavorite()"
      ></i></button>
      <button
      type="button"
      class="go-to-button"
      ><i class="ri-eye-line"></i></button>
    </div>
  </figure>
  <h3>{{ product().title }}</h3>
  <p>{{ product().price | currency }}</p>
  <button
  class="add-to-cart-button"
  type="button"
  (click)="addToCartHandler()"
  >Add to Cart</button>
</div>

