header {
  padding-top: 10px;
  width: 100%;
  height: 80px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
}

.menu > app-side-menu,
.menu > app-cart {
  display: contents;
}

.menu.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 90%;
  padding: 0 40px;
}

.list-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;
}

.ri-menu-line,
.ri-user-line,
.ri-star-line,
.ri-search-line,
.ri-shopping-bag-line {
  font-size: 25px;
  font-weight: 100;
  width: 40px;
  height: 40px;
  transition: all linear 0.3s;
}

.ri-menu-line:hover,
.ri-user-line:hover,
.ri-star-line:hover,
.ri-search-line:hover,
.ri-shopping-bag-line:hover {
  transition: all linear 0.3s;
  color: var(--grey-color);
}

.ri-menu-line,
.list-item {
  display: block;
}

.ri-user-line,
.ri-star-line,
.list-item {
  display: none;
}

a {
  padding-bottom: 5px;
  font-size: 1.5rem;
  font-weight: var(--fw600);
  transition: all linear 0.3s;
  border-bottom: 3px solid transparent;
}

a:hover,
button:hover {
  color: var(--grey-color);
  border-bottom: 3px solid var(--primary-color);
  transition: all linear 0.3s;
}

.item-floating-container {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.item-floating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  right: -4px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.3rem;
}

.left-item-floating {
  display: none;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 6px;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.3rem;
}

.title {
  font-family: var(--second-font);
  font-size: 2.5rem;
}

.ri-arrow-down-s-line {
  font-size: 1.3rem;
}

@media (min-width: 890px) {
  .menu {
    justify-content: space-between;
  }

  .menu.container {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 40px;
  }

  .list-inline {
    gap: 2em;
  }
  .ri-menu-line {
    display: none;
  }

  .ri-user-line,
  .ri-star-line,
  .list-item {
    display: block;
  }

  .left-item-floating {
    display: flex;
  }

  .title {
  font-size: 3rem;
}
}
