<header>
  <nav class="menu container">
    <ul class="list-inline">
    <li>
      <a href="">
        <i class="ri-user-line"></i>
      </a>
    </li>
    <li>
      <a href="">
        <span class="item-floating">7</span>
        <i class="ri-star-line"></i>
      </a>
    </li>
    </ul>
    <ul class="list-inline">
      <li>
        <a href="">HOME</a>
      </li>
      <li>
        <a href="">PRODUCTS</a>
        <i class="ri-arrow-down-s-line"></i>
      </li>
      <li>
        <a href="">DISC</a>
      </li>
      <li>
        <a
        class="title"
        href=""
        >The Shop</a>
      </li>
      <li>
        <a href="">SPECIALS</a>
        <i class="ri-arrow-down-s-line"></i>
      </li>
      <li>
        <a href="">SALE</a>
      </li>
    </ul>
    <ul class="list-inline">
      <li>
        <a href="">
          <i class="ri-search-line"></i>
        </a>
      </li>
      <li>
        <a href="">
          <span class="item-floating">0</span>
          <i class="ri-shopping-bag-line"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
