<section class="side-menu" [class.active]="isOpen()">
  <div class="menu-container">
    <section class="left-container">
      <nav class="menu">
        <ul class="list-container">
          <li>
            <a href="">Home</a>
          </li>
          <li>
            <a
            href=""
            class="list-item-container"
            >
              <span>Products</span>
              <i class="ri-arrow-down-s-line"></i>
            </a>
          </li>
          <li>
            <a href="">Discounts</a>
          </li>
          <li>
            <button type="button" class="favorites-link" (click)="openFavorites()">
              <span>Favorites</span>
              <span class="favorites-count">{{ favoriteCount() }}</span>
            </button>
          </li>
          <li>
            <a
            href=""
            class="list-item-container"
            >
              <span>Specials</span>
              <i class="ri-arrow-down-s-line"></i>
            </a>
          </li>
          <li>
            <a href="">Sales</a>
          </li>
        </ul>
        <div class="bottom-container">
          <button type="button" class="l-button">LOGIN</button>
          <button type="button" class="r-button">REGISTER</button>
        </div>
      </nav>
    </section>
    <section class="right-container">
      <button type="button" (click)="close()">
        <i class="ri-close-line"></i>
      </button>
    </section>
  </div>
</section>
