:root {
    --primary-color: #2bcbba;
    --light-color: #d1d8e0;
    --grey-color: #687080;
    --red-color: #ff4757;
    --flashwhite-color: #f1f2f6;
    --white-color: #ffffff;
    --dark-color: #212121;

    --primary-font: 'Monstserrat', sans-serif;
    --second-font: 'Prata', serif;
    --fs14: 1.4rem;
    --fw600: 600;

    --transition-color: color .3s;
    --transition-background: background-color .3s;
    --transition-border: border .3s;
    --transition-transform: transform .3s;

    --shadow:0px 10px 20px 0px rgb(0 0 0 / 20%);
    --fade: fade-bottom .3s cubic-bezier(0.39, 0.575, .0565, 1) both;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  width: 90%;
  padding: 0 40px;
}
